/*【媒体库】连载动画*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}
/*【媒体库】完结动画*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}
/*【媒体库】剧场动画*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}
/*【媒体库】连载剧集*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}
/*【媒体库】完结剧集*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}
/*【媒体库】高清电影*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}
/*【媒体库】演示片*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}
/*【媒体库】电视直播*/
.itemsContainer [data-id="绑定你媒体库的ID"] .cardPadder-smallBackdrop:hover {
    background: url(直链地址，如果调用本地图片需要写入到layout.css)no-repeat center center;
    background-size: 100% 100%;
}