/*【搜索界面】搜索输入框添加圆角样式*/
input.searchfields-txtSearch {
  padding: 0.6em;
  padding-left: 1em;
  border-radius: 30px;
}
/*【搜索界面】猜您喜欢使用平铺样式*/
.searchSuggestionsList div {
  display: inline-block;
}
/*【搜索界面】猜您喜欢添加底色背景样式*/
.searchSuggestionsList a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  margin: 5px;
  font-size: 90%;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.9);
}
